/* Blue variables */
$theme-color: #c05a42;
$text-color: #000000;
$text-color-secondary: #000000;
$text-grey: #97AAC3;
$divider: #c042a8;
$lighter-grey: #ccc;
$darker-grey: #666;
$smoky-white: #aaa65a;
$heart: #ff0000;
